Source: txikilinux
Section: education
Priority: optional
Architecture: all
Maintainer: Néstor A.C. <nestor@elkartenet.eus>
Build-Depends: debhelper
Standards-Version: 3.8.1
Homepage: https://www.elkartenet.eus/

Package: txikilinux
Architecture: any
Depends: ${misc:Depends}
Description: This package converts any Linux Mint installation into
             a Txikilinux flavour.
