#!/usr/bin/make -f
%:
	dh $@

# No build step is needed.
override_dh_auto_build:
	@echo "No build step needed for a data-only package."

# Override the install step to copy the theme files into $(DESTDIR)
override_dh_auto_install:
	# Create the target directory in the staging area
	install -d $(DEST)/usr/share/themes/
	# Copy the Elkartenet theme directory into the staging area
	cp -r $(CURDIR)/Elkartenet $(DEST)/usr/share/themes/
