#!/usr/bin/make -f

export DESTDIR ?= $(CURDIR)/debian/txikilinux/

%:
	dh $@

# No build step is needed.
override_dh_auto_build:
	@echo "No build step needed for a data-only package."

# Override the install step to copy the theme files into $(DESTDIR)
override_dh_auto_install:
	@echo "DEBUG: DESTDIR is '$(DESTDIR)'"
	mkdir -p $(DESTDIR)/usr/share/themes/Elkartenet
	cp -a $(CURDIR)/Elkartenet/* $(DESTDIR)/usr/share/themes/Elkartenet/
